<ion-view view-title="Matakuliah">
	<ion-content style="top: 0px;">
		<div class="list card">

			<div class="item item-avatar">
				<img src="img/dosen.png">
				<h2>Sri Mulyati S. KOM</h2>
				<p>Pemrograman 1 | Universitas Pamulang</p>
			</div>

			<div class="item item-image">
				<img src="img/java-logo.jpg" width="100px">
			</div>

			<a class="item item-icon-left positive" href="#">
				<i class="icon ion-android-bookmark"></i>
				Mulai Matakuliah
			</a>

		</div>

		<div class="list card">

			<div class="item item-avatar">
				<img src="img/dosen.png">
				<h2>Devi Yunita S.Kom</h2>
				<p>Pemrograman 2 | Universitas Pamulang</p>
			</div>

			<div class="item item-image">
				<img src="img/java-logo.jpg" width="100px">
			</div>

			<a class="item item-icon-left positive" href="#">
				<i class="icon ion-android-bookmark"></i>
				Mulai Matakuliah
			</a>

		</div>
	</ion-content>
</ion-view>
