<ion-view view-title="Matakuliah">
<ion-content ng-repeat="dosen in dosens">
	<div class="list card">

		<div class="item item-avatar">
			<img src="img/dosen.png">
			<h2>{{dosen.nama}}</h2>
			<p>{{dosen.matakuliah}}</p>
		</div>

		<div class="item item-body">
			<p>Profile Dosen</p>
			<table width="100%">
				<tr>
					<td>Nama </td>
					<td>:</td>
					<td>{{dosen.nama}}</td>
				</tr>
				<tr>
					<td>Matakuliah </td>
					<td>:</td>
					<td>{{dosen.matakuliah}}</td>
				</tr>
				<tr>
					<td>Email </td>
					<td>:</td>
					<td>{{dosen.email}}</td>
				</tr>
				<tr>
					<td>No Tlpn </td>
					<td>:</td>
					<td>{{dosen.no_hp}}</td>
				</tr>
			</table> 
		</div>

	</div>

	<div class="list card">
		<span class="item item-icon-left">
			<i class="icon ion-ios-folder"></i>
			Modul Pelajaran 
		</span>
	</div>

	<div class="list card" ng-repeat="post in posts">
		<div >
			<a class="item item-avatar positive" href="#">
				<img src="img/{{post.img}}">
				<h2>{{post.title}}</h2>
				<p>{{post.nama_dosen}} | {{post.kategori}}</p>
			</a>
		</div>
					    
		<div class="item item-body" >
			<div ng-bind-html="post.intro | cut:true:150	:' ...' " style="margin-top: -10px;">
			</div>
			<p ng-repeat="user in logins"> 
				<a href="#/app/home/{{post.id_json}}/{{post.id_dosen}}/{{user.id_user}}" class="button button-clear button-positive">View <span class="ion-chevron-right"></span> </a>
				<a href="#" class="subdued" style="float: right;"><span class="icon ion-calendar"></span> {{post.tanggal}}</a>
			</p>
		</div>

	</div>
</ion-content>
</ion-view>
