<ion-view view-title="Update">
	<ion-content>
		<div class="card">
		  <div class="item item-text-wrap">
		    Semua Update terbaru
		    <p>menampilan latihan yang telah dikirim.</p>
		  </div>
		</div>
		<div ng-repeat="data in get_latihan">
			<div class="list">

				<a class="item item-thumbnail-left" href="#/app/home/{{data.id_json}}/{{data.id_dosen}}/{{data.id_mahasiswa}}">
					<img src="img/java.png">
					<h2>{{data.title}}</h2>
					<p>{{data.intro}}</p>
					
					<br>
					<p style="float: right;">{{data.matakuliah}}</p>
				</a>

			</div>
		</div>
	</ion-content>
</ion-view>
